[submodule "imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "glm"]
	path = 3rdparty/glm
	url = https://github.com/g-truc/glm
[submodule "gl3w"]
	path = 3rdparty/gl3w
	url = https://github.com/skaslev/gl3w
[submodule "3rdparty/stdoc"]
	path = 3rdparty/stdoc
	url = https://github.com/lephe/stdoc.git
[submodule "3rdparty/stb"]
	path = 3rdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "3rdparty/ffmpeg"]
	path = 3rdparty/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "3rdparty/nv-codec-headers"]
	path = 3rdparty/nv-codec-headers
	url = https://github.com/FFmpeg/nv-codec-headers.git
[submodule "3rdparty/x264"]
	path = 3rdparty/x264
	url = https://code.videolan.org/videolan/x264.git
